body{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(101, 99, 238, 0.523);
    border-radius: 0.75rem;
}
body::-webkit-scrollbar {
    width: 5px;
    background: rgb(21,21,27);;
    border-radius: 0.75rem;
}

.centre{
    display: flex;
    align-items: center;
}

.main-info{
    background-color: rgba(255, 255, 94, 0.634);
    min-height: 200px;
    min-width: 200px;
    border-radius: 0.75rem;
    margin-inline: 60px;
}
.other-info{
    background-color: rgba(94, 255, 121, 0.634);
    min-height: 200px;
    min-width: 200px;
    border-radius: 0.75rem;
    margin-inline: 60px;
}